torch
numpy
h5py
scikit-learn
mne
mne_bids
pandas
lightning
wandb
x_transformers
transformers
sentencepiece
accelerate
nltk
sentence_transformers
datasets
peft
openai
google-genai
llm2vec
timm
wandb
textdistance
torchmetrics
jiwer
bert_score
kenlm
google-genai
sentence_transformers
xgboost
scipy
einops
openai
anthropic
tqdm